body {
    background: rgb(19, 25, 182);
    background: linear-gradient(182deg, rgba(19, 25, 182, 1) 0%, rgba(166, 164, 0, 1) 48%, rgba(19, 25, 182, 1) 100%);

}

h1 {

    text-align: center;
}

h2 {
    border-radius: 7px 7px 7px 7px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    width: 200px;
    box-sizing: border-box;
    text-align: center;
}

p {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
}

li {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
}

img.mediana {
    height: 500px;
    width: 700px;
    border-radius: 5px 5px 5px 5px;

}

.Boca {
    color: blue;
}

.Dragon {
    color: goldenrod;
}

#box {
    -moz-box-align: center;
    background-color: black;
    width: 300px;
    height: 500;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 8px 8px 8px 8px;
}

h3 {
    background-color: black;
    width: 200px;
    border-radius: 5px 5px 5px 5px;
}