.destacado {
    background: rgb(72, 82, 0);
    background: linear-gradient(90deg, rgba(72, 82, 0, 1) 0%, rgba(215, 227, 13, 1) 48%, rgba(227, 207, 13, 1) 100%);
    width: 250px;
    height: 250px;
    margin: 70px;
    padding: 30px;
    box-shadow: 10px 10px 5px black;
    border-radius: 10px;
}
h2{
    text-shadow: 4px -1px 14px rgba(0,0,0,0.49);

}